.buttonContainer {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1.2rem;

}

.buttonContainer .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 20rem;
    padding: 1.8rem;
    height: 1.4rem;

    border: none;
    color: var(--lightBase);

    transition: opacity 0.2s;

}

@media (min-width: 700px) {
    .buttonContainer .button {
        margin-left: 4rem;
    }
}

.buttonContainer .button:hover {
    opacity: 0.8;
}

.buttonContainer .button strong {
    font-family: 'Montserrat';
    font-weight: 700;

    margin-left: 2rem;
}