.cardContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.8rem;
      }




.cardContainer {
    display: flex;
    flex-direction: column;

    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    background: var(--lightYellow);
    border: 1px solid var(--darkYellow);
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

@media (min-width: 720px) {
    .cardContainer {
        max-width: 32vw;
    }
}

.cardContainer > strong {
    font-family: 'Montserrat';
    font-size: 1.6rem;
    font-weight: 800;
}

.cardContainer > small  {
    font-family: 'Lato';
    font-size: 1.1rem;
    font-weight: 400;

    margin-bottom: 1.2rem;
}

