.incomesAndExpensesContainer {
    padding: 0 1.8rem;
  
    display: flex;
    flex-direction: column;
  }
  
  .incomesAndExpensesContainer > div {
    margin-bottom: 2.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


  .incomesAndExpensesContainer > div > small {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .incomesAndExpensesContainer > div > strong {
    font-family: 'Montserrat';
    font-size: 1.6rem;
    font-weight: 800;
  }