.containerTransactions {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    
    margin-top: 4.2rem;
}

@media (min-width: 700px) {
    .containerTransactions {
        margin-left: 6rem;
    }
}



.containerTransactions .date {
    display: flex;
    align-items: center;
    border: 1px solid;
    width: 8rem;
    justify-content: center;
    
    background: var(--lightBase);

    position: relative;
    margin-bottom: -10px;


    
}

.containerTransactions .date small {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1rem;
}

.containerTransactions .transaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
    background: var(--lightBase);

    max-width: 32rem;
    height: 6rem;

    padding: 1.2rem;
    margin-left: 2rem;

    transition: color 0.2s;
}

.containerTransactions .transaction:hover{
    cursor: pointer;
    color: #1263E6;
}

.containerTransactions .transaction .description {
    display: flex;
    flex-direction: column;
}

.containerTransactions .transaction .description strong {
    font-family: 'Lato';
    font-size: 1.2rem;
    font-weight: 500;
}

.containerTransactions .transaction .description small {
    font-family: 'Lato';
    font-size: 1rem;
    font-weight: 300;

    margin-top: 0.2rem;
}

.containerTransactions .transaction .price {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 2.4rem;
}

.containerTransactions .transaction .price strong {
    font-family: 'Roboto';
    font-size: 1rem;
    font-weight: 700;

    color: var(--red);
}

@media (min-width: 720px) {
    .containerTransactions .transaction {
        max-width: 64rem;
    }

    .containerTransactions .transaction .description strong {
        font-size: 1.4rem;
    }

    .containerTransactions .transaction .description small {
        font-size: 1.2rem;
    }

    .containerTransactions .transaction .price strong {
        font-size: 1.4rem;

        margin-right: 4.2rem;

    }
    
}
