.toggleContainer {
    margin-top: 1.2rem;

    display: flex;
    flex-direction: column;
    width: 20rem;
}

.toggleContainer .labelContainer {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--primary);
    margin-bottom: 0.2rem;
}

.toggleContainer .toogle {
    color: var(--primary);
}