.formContainer {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.formContainer .dateContainer {
    width: 20rem;
}

.formContainer .buttonSave {
    display: flex;
    align-items: center;

    margin-top: 2rem;
}

.formContainer .buttonSave button {
    width: 20rem;
    height: 2.6rem;
    background: var(--primary);
    color: var(--lightBase);
    border: none;
    
    font-family: 'Montserrat';
    font-size: 1.4rem;
    font-weight: 700;

    transition: background 0.2s;
}

.formContainer .buttonSave button:hover {
    background-color: var(--lightBase);
    border: 1px solid;
    color: var(--dark);
    opacity: 0.8;
} 