.container {
    padding: 2.8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .logo {
    margin-bottom: 2rem;
}

.container .logo > img {
    width: 10rem;
}

.container form .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 1.2rem;
}

.container form .footer a span {
    font-family: 'Montserrat';
    font-size: 0.8rem;
    color: #1263E6;

    transition: opacity 0.2s;
}

.container form .footer a span:hover {
    opacity: 0.6;
}

