.container {
    padding: 2.8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .back {
    display: flex;
    align-items: center;
}

.container h1 {
    font-family: 'Roboto';
    font-size: 2.8rem;
    margin: 2.4rem 0;
}

.container form .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 1.2rem;
}

.container form .footer a span {
    font-family: 'Montserrat';
    font-size: 0.8rem;
    color: #1263E6;

    transition: opacity 0.2s;
}

.container form .footer a span:hover {
    opacity: 0.6;
}

